/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
@font-face {
  font-family: '微软雅黑';
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Huxiaobo", Arial;
  font-weight: normal;
  color: #444;
  text-decoration: none;
  list-style: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-text-size-adjust: none;
}
.banner .other-btns > div {
  position: relative;
}
.banner .other-btns > div > a > span {
  color: #ffffff;
}
.banner .other-btns > div .sub-menu {
  display: none;
  position: absolute;
  left: -1px;
  bottom: 52px;
}
.banner .other-btns > div .sub-menu > a {
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}
.banner .other-btns > div .sub-menu > a span {
  color: #ffffff;
}
.banner .other-btns > div .sub-menu > a i {
  color: #ffffff;
  font-size: 30px;
  margin-right: 10px;
  vertical-align: middle;
  display: inline-block;
}
.banner .other-btns > div .sub-menu > a:hover {
  color: #444444;
}
.banner .other-btns > div .sub-menu > a:hover i {
  color: #cc3333;
}
.banner .other-btns > div:hover {
  background: #fff;
}
.banner .other-btns > div:hover > a > span {
  color: #444444;
}
.banner .other-btns > div:hover > a {
  background: #fff;
  color: #444444;
}
.banner .other-btns > div:hover > a .img {
  background-position: bottom;
}
.banner .other-btns > div:hover .sub-menu {
  display: inline-block;
}
.ban .other-btns {
  position: absolute;
  left: 6%;
  bottom: 40px;
  border: 1px solid #fff;
  z-index: 20;
}
.ban .other-btns a {
  display: block;
  width: 175px;
  height: 30px;
  vertical-align: middle;
  text-align: center;
  color: #fff;
  line-height: 30px;
  padding: 11px 0;
}
.ban .other-btns a span {
  vertical-align: middle;
  display: inline-block;
  font-size: 14px;
}
.ban .other-btns a .img {
  width: 30px;
  height: 30px;
  background: url(../../img/icon-ban-1.png) no-repeat top;
  margin-right: 10px;
}
.ban .other-btns a .img2 {
  background: url(../../img/icon-ban-2.png) no-repeat top;
}
.ban .other-btns a .img3 {
  background: url(../../img/icon-ban-3.png) no-repeat top;
}
.ban .other-btns a.other-btns-a,
.ban .other-btns div.other-btns-a {
  border-right: 1px solid #fff;
}
.ban .other-btns a:hover {
  background: #fff;
  color: #cc3333;
}
.ban .other-btns a:hover .img {
  background-position: bottom;
}
.ban .other-btns > div {
  position: relative;
}
.ban .other-btns > div > a > span {
  color: #ffffff;
}
.ban .other-btns > div .sub-menu {
  display: none;
  position: absolute;
  left: -1px;
  bottom: 52px;
}
.ban .other-btns > div .sub-menu > a {
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}
.ban .other-btns > div .sub-menu > a span {
  color: #ffffff;
}
.ban .other-btns > div .sub-menu > a i {
  color: #ffffff;
  font-size: 30px;
  margin-right: 10px;
  vertical-align: middle;
  display: inline-block;
}
.ban .other-btns > div .sub-menu > a:hover {
  color: #444444;
}
.ban .other-btns > div .sub-menu > a:hover i {
  color: #cc3333;
}
.ban .other-btns > div:hover {
  background: #fff;
}
.ban .other-btns > div:hover > a > span {
  color: #444444;
}
.ban .other-btns > div:hover > a {
  background: #fff;
  color: #444444;
}
.ban .other-btns > div:hover > a .img {
  background-position: bottom;
}
.ban .other-btns > div:hover .sub-menu {
  display: inline-block;
}
.bus .bus-col a {
  font-size: 36px;
  color: #fff;
  padding: 0 0 0 10%;
  line-height: 1;
}
@media screen and (max-width: 1140px) {
  .ban .other-btns {
    display: none;
  }
  .banner .other-btns {
    display: none;
  }
}
.footer > div .col-md-4 {
  width: 50%;
  margin: 0;
  text-align: center;
}
.footer > div .col-md-4 p {
  line-height: 32px;
  font-size: 14px;
}
.footer .footer-icon .icon-in i {
  font-size: 30px;
}
@media screen and (max-width: 1080px) {
  .footer {
    padding: 0;
  }
  .footer > div .col-md-4 {
    width: 100%;
    margin: 0;
    text-align: center;
    display: inline-block;
    border-top: solid 1px #ededed;
    padding: 50px 0;
  }
  .footer > div .col-md-4 p {
    line-height: 32px;
    font-size: 14px;
  }
  .footer > div .col-md-4 a {
    display: inline-block;
  }
}
.section-container .section:first-child {
  padding-top: 20px;
}
.pro-img {
  position: relative;
}
.pro-img .go-next,
.pro-img .go-previous {
  position: absolute;
  right: 50px;
  bottom: 50px;
}
.pro-img .go-next i,
.pro-img .go-previous i {
  font-size: 100px;
  -moz-opacity: 0.3;
  -khtml-opacity: 0.3;
  -webkit-opacity: 0.3;
  opacity: 0.3;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=30);
  filter: alpha(opacity=30);
}
.pro-img .go-next:hover i,
.pro-img .go-previous:hover i {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
}
.pro-img .go-previous {
  display: none;
}
.section.first .pro-content {
  top: 60% !important;
}
.section.last .go-next {
  display: none !important;
}
.section.last .go-previous {
  display: block !important;
}
